.header-bg {
    background-image: linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
    color: #fff;
    font-size: 18px;
    padding: 20px 10px;
    font-weight: 600;
}
.blog-title{
    color:#0c2e60;
}