h1.Course-title{
    font-size: 50px;
    padding: 50px 0;
    color:#0c2e60;
    text-align: center;
}
.rigth-side-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-height: 100%;
}