@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.App{
  font-family: 'Open Sans', sans-serif;
}
.btn_1 {
  display: inline-block;
  padding: 13.5px 45px;
  border: none !important;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-image: linear-gradient(to left, #ee390f 0%, #f9b700 51%, #ee390f 100%);
  transition: all .4s ease-in-out;
  text-transform: capitalize;
  /* background-size: 200% auto; */
  /* border: 1px solid transparent; */
  box-shadow: 0px 12px 20px 0px rgba(255, 126, 95, 0.15);
}
.btn_1:hover{
  background-color: red !important;
}
